.chat-outer{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    background-color: white;
}

.chat-body{
    background-color: aliceblue;
    width:100%;
    height: 880px;
}

.chat-box{
    display: flex;
    flex-direction: row;
    width: 70rem;
    height:40rem;
    background-color: aliceblue;
}

.chat-left{
    border: solid 2px;
    width:20rem;
    height: 100%;
    background-color: aliceblue;
}

.user-search{
    height: 5rem;
    background-color: blue;
    margin-top: 0;
    width: 100%;
}

.user-search-form{
    margin-top: 0;
    margin-left: 0;
}

.user-search-form>input{
    margin-top: 1rem;
    margin-left: 10px;
    width:18rem;
}

.user-list{
    background-color: rgb(222, 237, 245);
    display: flex;
    flex-direction: column;
    height:34.75rem;
    width:100%;
    margin-top: 0;
}

.ulist-container{
    width:100%;
    height:3rem;
    background-color: beige;
    color: black;
}

.user-list>button{
    background-color: white;
    padding:1rem;
    border: none;
    border-bottom: solid 1px rgb(199, 199, 199);
}

.user-list>h3{
    background-color: white;
}

.chat-right{
    border: solid 2px;
    border-left: none;
    width: 50rem;
    height:100%;
    background-color: aliceblue;

}

.sender-box{
    border:solid 1px black;
    border-left:none;
    width:100%;
    top:0;
    display: block;
    height: 5rem;
    background-color:blue;
    color:white;
}

.sender-box>h2{
    margin-top: 15px;
    margin-left:30px;
    font-family:sans-serif;
}


.chat-history{
    width:100%;
    height:100px;
    background-color: white;
    overflow:auto;
}

.send-container{
    width:100%;
   
    margin-bottom: 0;
    display: block;
    height: 4.7rem;
    background-color:white;
}

.chat-message{
    padding:1px;
    width:20rem;
    background-color: blue;
    color: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    border-radius: 50px;
}

.chat-message-timestamp{
    font-size: 10px;
    margin-left: 10rem;
    margin-top: 10px;
}

.chat-message-message{
    margin-left: 2rem;
    margin-top: 0;
    padding-right: 5px;
    padding-bottom: 15px;
}

.message{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: gray;
    height: 4.75rem;
   
}

.message-input{
    padding: 3px;
    margin-top:15px;
    margin-left:20px;
    width:35rem;
    resize: vertical;
}

.send{
    margin-left: 5rem;
    width:5rem;
    background-color: rgb(0, 0, 255);
    color:white;
}
