.details-outer{
    display: flex;
    flex-direction: column;
}
 
.details-body-top{
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    background-color: lavender;
    padding-bottom: 3rem;   
}



.book-details{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
}

.details-box{
   display: flex;
}

.dash-body-details{
    display: flex;
    width: 100%;
    flex-direction: row;
    width:SCREEN_WIDTH;  
    flex-wrap: wrap;
    color:white;
    justify-content: start;
    padding-left: 1rem;
    padding-right: 1rem;
}
