.details-outer{
    display: flex;
    flex-direction: column;
}

.details-body{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    width:100%;
   
}

.details-img{
    margin-left: 10%;
}

.details-img>img{
    width:30rem;
    height:40rem;
}

.book-details{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
}

.editbook-form{
    display: flex;
    flex-direction: column;
}


.newprice{
    width:10rem;
}

.checkbox{
    margin-top: 1rem;
    font-size: 30px;
}

.check-box-input{
    width:1.5rem;
    height:1.5rem;
    margin-right:1rem;
}

.submit-button{
    margin-left: 6rem;
    color: white;
    background-color: blue;
}


