.details-outer{
    display: flex;
    flex-direction: column;
}

.details-body{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    width:100%;
   
}


.details-img>img{
    width:21rem;
    height:28rem;
}

.book-details{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
}

.editbook-form{
    display: flex;
    flex-direction: column;
}


.newprice{
    width:10rem;
}

.checkbox{
    margin-top: 1rem;
    font-size: 20px;
}

.check-box-input{
    width:1rem;
    height:1rem;
    margin-right:1rem;
}

.submit-but{
margin-top: 5rem;
width: 10rem;
}

.details-body-top-edit{
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    background-color: lavender;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;   
}